# Database Configuration

# For local development (without Docker)
# DB_HOST=localhost

# For Docker Compose (uncomment these and comment above)
DB_HOST=postgres

DB_PORT=5432
DB_NAME=rag_chat
DB_USER=postgres
DB_PASSWORD=password

# Pinecone
PINECONE_API_KEY=api_key_321asd12eda123
PINECONE_INDEX_NAME=ai-powered-chatbot-challenge
PINECONE_ENDPOINT=https://ai-powered-chatbot-challenge-b74a.pinecone.io

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# JWT Configuration (if needed)
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
